.btn-outline-success {
    border-color: grey;
    color: grey;
}
img {
    border-radius: 50%;
}
.btn-outline-success:hover {
    background-color: grey;
    border-color: grey;
}

.btn-outline-success:active {
    color: grey;
    border-color: grey;
}

#welcome-title{
    background-color:rgba(255,255,255,0.7);
    text-align:center;
}

#main-jumbo {
    background-image: url("../img/pizza.png");
    background-size: cover;
}

.card-header{
    color:white;
    text-align:left;
}
.card-footer{
    text-align:right;
}

.list-group{
    text-align:left;
}

.list-group .header{
    background-color: #f7f7f7;
}

.custom-control{
    padding-left:0;
}

.cheeses{
    margin-bottom: 10px;
}

.meats{
    margin-bottom: 10px;
}
New


