/* custom.css */
.jumbotron {
    background-image: url("/img/pizza.png");
    height: 346px;
    background-size: cover;
    background-repeat: no-repeat;
}

/*.light-title-bar {*/
/*     !* Adjust the opacity as needed *!*/
/*}*/

/* Hide jumbotron for small screens */
/*@media (max-width: 767px) {*/
/*    .jumbotron {*/
/*        display: none;*/
/*    }*/
/*}*/
/*.d-flex {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.pizza {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.pizzaMessage{
    background-color: white;
    flex-direction: column;
    text-align: center;
    /*display: flex;*/
    /*justify-content: center;*/
    align-items: center;
    /*flex-wrap: wrap;*/
    /*height: 25em;*/
    position: relative;
    opacity: 50%;
    top: 4.5em;
}